* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
    text-align:center;
}

/* Header */
.header {
  height:80px;
  position: relative;
  background-image:url("https://i.ibb.co/Lk46dZV/background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  padding: 15px;
  display:flex;

}
.user img{
  width:40px;
  height:40px;
  margin: 0 auto;
  position: absolute;
  float: right;
  bottom:25px;
  right:30px;
}
.user p{
  
  font-weight: bold;
 text-shadow: 3px 2px 2px gray;
    font-family: Arial;
  font-size: 20px;
  color: white;
  position: absolute;
  right:32px;
  bottom: 7px;
  text-align: center;
}


h1 {
  font-weight: bold;
    text-shadow: 6px 4px 4px gray;
    text-align:center;
  font-family: Arial;
  position: absolute;
  text-align: center;
  width: 100%;
    font-size: 40px;
  color: white;
}

h3{
  text-align: center;
  vertical-align: middle;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #BDBDBD;
  position: relative;
}

/* Style the topnav links */
.topnav li a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav li a:hover {
  background-color: #ddd;
  color:  #f2f2f2;
}

.navtext {
  text-align:center; 
  vertical-align:middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}

.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.login-wrapper > h2{
    font-size: 24px;
    color:#22741C;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #22741C;
    margin-top: 20px;
}

#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;

    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{

    background-repeat: no-repeat;
    background-size: contain;
}
a{
    text-decoration-line: none;
}
a:link {
  color : gray;
}
a:hover {
  color : red;
}