* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
}

/* Header */
.header {
	height:80px;
	position: relative;
  	background-image:url("https://i.ibb.co/Lk46dZV/background.jpg");
 	background-repeat:no-repeat;
 	background-size: cover;
	padding: 15px;
	display:flex;
}
.user img{
	width:40px;
	height:40px;
	margin: 0 auto;
	position: absolute;
	float: right;
	bottom:25px;
	right:30px;
}
.user p{
	
	font-weight: bold;
  	text-shadow: 3px 2px 2px gray;
  	font-family: Arial;
	font-size: 20px;
	color: white;
	position: absolute;
	right:32px;
	bottom: 7px;
	text-align: center;
}

/* .jm-font{
		font-family: 'Jeju Myeongjo', serif;/*웹 폰트 지정*/
		color:black;
	} */

@font-face {
     font-family:'Jua', sans-serif;/*font 이름*/
}



header h1 {
	font-weight: bold;
  	text-shadow: 6px 4px 4px gray;
  	text-align:center;
	font-family: Arial;
	position: absolute;
	text-align: center;
	width: 100%;
  	font-size: 40px;
	color: white;
}

h3{
  vertical-align: middle;
}

/* Style the top navigation bar */
.topnav {
  overflow:hidden;
  background-color:#BDBDBD;
  position:relative;
}

/* Style the topnav links */
.topnav li a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav li a:hover {
  background-color: #ddd;
  color:  #f2f2f2;
}

.navtext {
  text-align:center; 
  vertical-align:middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}

/* Create two unequal columns that floats next to each other */
/* Left column */
/* section {   
  float: left;
  width: 75%;
} */

/* Right column */

/* aside {
  	float: right;
  	width: 23%;
  	padding-left: 5px;
	margin-top: 3%;
	margin-right: 1%;
	
} */


/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 0px;
  margin-top: 0px;


}

ul, li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
.list_wrap{
	width:97%;
	max-width:1200px;
	padding: 10px;
    display:table;
    /* justify-content:center; */
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0px 0px 5px lightgray;
    background-color: #e3e1e1;
}
.list_wrap ul{
	font-size: 0;
}

.list_wrap .item{
	display: inline-block;
	width: 30%;
	margin-left: 3%;
	margin-top: 40px;
	background-color: #BCD2C0;
	box-shadow: 0px 0px 5px lightgray;
	min-height:200px;
}



.list_wrap .item .image{
	width: 100%;
	height: 200px;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.list_wrap .item .contents{
	padding: 12px;

}
.list_wrap .item h5{
	display: block;
	margin: 0px 0 10px 0;
	font-size: 16px;
}
.list_wrap .item p {
	font-size: 13px;
}

/* .popular {
	margin-top: 20%;
	background-color: #BCD2C0;
	box-shadow: 0px 0px 5px lightgray;
	padding: 35px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 15%;
	}

	.popular li{
		line-height:30px;
	}
 */



	/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  section, aside {   
    width: 100%;
    padding: 0;
  }
}

.my_box {
	border:1px solid; padding:20px; 
}