* {
  box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: Arial;
}

/* Header */
.header {
	height:80px;
	position: relative;
  	background-image:url("https://i.ibb.co/Lk46dZV/background.jpg");
 	background-repeat:no-repeat;
 	background-size: cover;
	padding: 15px;
	display:flex;
}
.user img{
	width:40px;
	height:40px;
	margin: 0 auto;
	position: absolute;
	float: right;
	bottom:25px;
	right:60px;
}
.user p{
	
	font-weight: bold;
  	text-shadow: 3px 2px 2px gray;
  	font-family: Arial;
	font-size: 15px;
	color: white;
	position: absolute;
	right:32px;
	bottom: 7px;
	text-align: center;
}


h1 {
	font-weight: bold;
  	text-shadow: 6px 4px 4px gray;
  	text-align:center;
	font-family: Arial;
	position: absolute;
	text-align: center;
	width: 100%;
  	font-size: 40px;
	color: white;
}


.topnav {
  overflow: hidden;
  background-color: #BDBDBD;
  position: relative;
}

/* Style the topnav links */
.topnav li a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav li a:hover {
  background-color: #ddd;
  color:  #f2f2f2;
}

.navtext {
  text-align:center; 
  vertical-align:middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}




/* Create two unequal columns that floats next to each other */
/* Left column */
section {   
  float: left;
  width: 40%;
    background-color: #f6f6f6;
    padding-left: 5px;
	margin-top: 3%;
	margin-right: 2%;
    margin-left: 2%;
}

article {
	margin: 4% 3% 3% 3%;
	background-color:#f6f6f6;
}

.calculator_image{
    object-fit:cover;  
}

/* Right column */
aside {
  	float: right;
  	width: 55%;
  	padding-left: 5px;
	margin-top: 3%;
	margin-right: 1%;
	background-color: #f6f6f6;
	
}


.display2{
  width: 100px;
  height: 30px;
  font-size: 150px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

ul, li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
.list_wrap{
	width:97%;
	max-width:1200px;
	padding: 10px;
    display: table;
    justify-content:space-between;
}
.list_wrap ul{
	font-size: 0;
}
.list_wrap .item{
	display: inline-block;
	width: 30%;
	margin-left: 3%;
	margin-top: 40px;
	background-color: #BCD2C0;
	box-shadow: 0px 0px 5px lightgray;
	min-height:200px;
}



.list_wrap .item .image{
	width: 100%;
	height: 200px;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.list_wrap .item .contents{
	padding: 12px;

}
.list_wrap .item h5{
	display: block;
	margin: 0px 0 10px 0;
	font-size: 16px;
}
.list_wrap .item p {
	font-size: 13px;
}
#signiture_menu {
	display: inline-block;
	font-size: 13px;
	text-decoration: underline;
}
#signiture_menu:hover{
	color: blue;
}

.list_wrap .item #button a {
	display: inline-block;
	margin-top: 15px;
	padding: 5px 10px;
	background: #EEEEEE;
	font-size: 13px;
}

.list_wrap .item #button a:hover{
	background: green;
	color: #fff;
}

.page-nation li{
    list-style: none;
}
.page-wrap{
    text-align: center;
    font-size: 0;
}
.page-nation{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}