<!DOCTYPE html>
<html lang="en">
<head>
    <title>EATing Day</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/EDmenureviewRegister.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
    <script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/EDmenureviewRegister.js') }}" ></script>
</head>
<body>

<!-- Header-->
<header>
	<div class="header">
		<div class="title">
			<h1>EATing Day</h1>
		</div>
		{% if session['id']%}
        <div class="user">
                    
            <p>{{session['id']}}</p><img src="https://i.ibb.co/4NJ6F0t/user.png" alt="user" border="0">
        </div>
            {% else%}
        <div class="user">
            <a href="/EDLogin"><img src="https://i.ibb.co/4NJ6F0t/user.png" alt="user" border="0"></a>
        </div>
        {% endif %}
	</div>
	
</header>

<nav>
  <div class="topnav">
        <ul style="list-style-type:none;">
            <li><a href="/EDhome"><i class="fa-solid fa-house fa-lg"></i></a></li>
            <li><a href="/EDlist"><i class="fa-solid fa-list fa-lg"></i></a></li>
            {% if session['id']%}
            <li><a href="/EDonepick/{{session['id']}}/"><i class="fa-solid fa-heart fa-lg"></i></a></li>
            {% else%}
            <li><a href="/EDonepick"><i class="fa-solid fa-heart fa-lg"></i></a></li>
            {% endif %}
            <li><a href="/EDRegister"><i class="fa-solid fa-plus fa-lg"></i></a></li>
        </ul>
      <!--각자 맡은 화면 사이트 이름 넣기-->
      {% block nav %}
      <div class="navtext"><i class="fa-solid fa-plus fa-lg"></i>&nbsp&nbsp<span style="font-size:1.5em;"><b>메뉴 등록하기</b></span></div>
      {% endblock nav %}
      {% if session['id'] %}
            <button type="button" onclick="location.href = '/logout'" style="float: right; border-radius:10px">&nbsp로그아웃&nbsp</button>
            {% endif %}
    </div>
</nav>

<br><br><br>

<div class="row">
  <div class="column side">
  </div>
  
  <div class="column middle">
    {% block content %}
    <form name="frm" action="/EDMoreMenu" method="post" enctype="multipart/form-data" >

    <table border="1" style="width:100%">
        {% block section %}
        <tr><th><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="restaurant_name"> 식당 명</label></th><td><span style="padding:25px;">{{data.restaurantname}}</span></td></tr>
        <input type="hidden" name="restaurant_name" value="{{data.restaurantname}}">
        {% endblock section %}
 
      <tr><th><span style="color:red;">*&nbsp</span><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="foodname"> 음식 명</label></th><td><input type="text" id="foodname" name="foodname"  access="false" required></td></tr>

      <tr><th><span style="color:red;">*&nbsp</span><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"> <label for="photo"> 사진등록</label></th><td><input  style="margin:30px"  type="file" access="false" multiple="false" id="photo" name="photo1"><img id="menupreview" src="" style="height: 60px; position: relative; text-align: center; vertical-align:middle;" /></td></tr>


      <tr><th><span style="color:red;">*&nbsp</span><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="price"> 가격</label></th><td><input type="text" id="price" name="price" access="false" required></td></tr>

      <tr><th><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="desc"> 음식 설명</label></th><td><textarea type="textarea" access="false" name="desc" id="desc"></textarea></td></tr>

      <tr><th><span style="color:red;">*&nbsp</span><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="category"> 종류</label></th>
	<td style="padding:25px;">
            <input name="category" access="false" id="category1" value="main" type="radio" required>
            <label for="category1">메인</label>
            <input name="category" access="false" id="category2" value="side" type="radio">
            <label for="category2">사이드</label>
	</td>
      </tr>

      <tr><th><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="allergy"> 알레르기</label></th><td><input type="text" name="allergy" id="allergy" access="false" placeholder=" ex) 새우, 계란"></td></tr>

      <tr><th><span style="color:red;">*&nbsp</span><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="vegan"> 비건</label></th>
	<td style="padding:25px;">
        <input name="vegan" access="false" id="vegan1" value="option-1" type="radio" required>
        <label for="vegan1">yes</label>
        <input name="vegan" access="false" id="vegan2" value="option-2" type="radio">
        <label for="vegan2">no</label>
	</td>
      </tr>

      <tr><th><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="foodhash"> 해시태그</label></th><td><input type="text" name="foodhash" id="foodhash" access="false"  placeholder=" ex) #달달한 #상큼한"></td></tr>
      <tr><th><img src="https://i.ibb.co/GQCcV71/flower-deco.png" id="flowerfortable"><label for="extra"> 추가 설명</label></th><td><textarea type="textarea" access="false" id="extra" name="extra"></textarea></td></tr>
    </table>

            <br><br><br><br>
            <div align="center">
                <input type="submit" value="등록" onclick="registrationYN()" id="reg">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="reset" value="취소" onclick="history.go(-1)" id="cancel"></div>
<br><br>

    </form>
{% endblock content%}
  </div>
  
  <div class="column side">
  </div>
</div>

</body>
</html>
